<h1>Acerca de</h1>
<p>Nuestra intención es facilitar el uso de Bibtex para generar documentos en latex y otros.</p>

<p>Usando este servicio buscamos dar el mejor servicio posible. Los registros se obtienen desde interfaces publicas provistas por  <a href="http://www.doi.org">The International DOI Foundation</a> y <a href="http://crossref.org">Crossref</a>. Sin embargo el BibTeX podría contener errores y sugerimos siempre revisarlos.</p>

<h2>Reconocimientos</h2>
<p>El código base para este sitio es open source y lo puedes encontrar en <a href="https://github.com/davidagraf/doi2bib/">GitHub</a>.</p>
